<div class="fixed-top">
  <nav class="navbar navbar-toggleable-md navbar-light custom-nav custom-top-nav">
    <span>
      <ng-container *ngIf="showSync">
        <i class="material-icons custom-sync" (click)="syncContacts()">sync</i>
        <ng-container *ngIf="showDownload">
          <i class="material-icons custom-download" (click)="downloadFile()">file_download</i>
        </ng-container>
        <i class="material-icons" style="position: absolute; top: 10px; right: 50px; font-size: 160%;" (click)="selectLanguage()">g_translate</i>
      </ng-container>
      <i class="material-icons custom-back" (click)="goBack()">navigate_before</i>
    </span>
    <a class="navbar-brand custom-nav mr-auto" translate>title</a>
  </nav>
</div>
<div class="fixed-bottom">
  <div class="custom-gap"></div>
  <div class="custom-footer">
    <p>
      <span translate>title</span>
      <span> v2.0.4 | </span>
      <span translate>copyright</span>
      <span> <i class="material-icons" style="font-size: small; margin-bottom: 0">copyright</i> 2017 PROCIT. </span>
      <span translate> footerText. </span>
    </p>
  </div>
</div>

<router-outlet></router-outlet>
